*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

}

body {
    background-color: aqua;
    background-image: url(../imagenes/healthy\ mind\ and\ body.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;

}
.contenedortd{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}
.cajatrasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);
}
.cajatrasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}
.cajatrasera div p,
.cajatrasera div button{
    margin-top: 30px;

}
.cajatrasera div h3{
    font-weight: 400;
    font-size: 20px;
}
.cajatrasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    transition: all 300ms;
}
.cajatrasera button:hover{
    background-color: #fff;
    color: #46A2FD;
}
.contenedor_loginregistro{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    transition: left 500ms cubic-bezier(0.175, 0.885, 0.328, 1.275);
}
.contenedor_loginregistro form{
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
}
.contenedor_loginregistro form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;

}
.contenedor_loginregistro form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    
}
.contenedor_loginregistro form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    color: #fff;
    cursor: pointer;

}
.formulario_login{
    opacity: 1;
    display: block;

}
.formulario_registro{
    display: none;
}
/* Responsive desing */
/* @media screen and (max-width: 800px;){
    main{
        margin-top: 50px;

    }
    .cajatrasera {
        max-width: 350px;
    }
} */
@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .cajatrasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .cajatrasera div{
        margin: 0px;
        position: absolute;
    }

    /* formulario*/

    .contenedor_loginregistro{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor_loginregistro form{
        position: relative;
    }

 }
